$color1: rgb(78, 91, 116);
$color2: rgb(226, 229, 236);
$color3: rgb(61, 97, 138);
$color4: rgba(41, 90, 180, 0.808);
$color5: rgb(26, 39, 65);
$color51: rgb(43, 52, 103);
$color6: rgb(23, 58, 124);
$color7: rgb(186, 215, 233);
$font-family1: Arial, sans-serif;
$font-size1: 45px;
$font-size2: 35px;
$font-size3: 20px;
